@model List<Phone>
@{
    Layout = "_Layout";
    ViewData["Title"] = "List of Products";
}

<h1>List of Products (Phones)</h1>

<div class="bg-info text-center">
    <span class="text-white fs-2">
        @ViewData["TempMessage"]
    </span>
</div>

<div class="row">
    @foreach (var phone in Model)
    {

        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <img src="~/Images/@phone.PhoneImageName" class="img-fluid" alt="@phone.PhoneImageName" />
                </div>

                <div class="card-body mt-0">
                    <div class="fw-bold">
                        @phone.PhoneName
                        <br />
                        @phone.PhonePrice?.ToString("c")
                    </div>
                    @phone.PhoneBrand
                    @phone.PhoneModel
                    <br />
                    @phone.PhoneOs.PhoneOsName
                    <br />
                    <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@phone.PhoneID" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>

        </div>
    }
</div>


